<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let e of errores">
        {{ e }}
    </li>
</ul>
<div class="card bg-dark text-white">
    <div class="card-header">
        {{ titulo }}
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="titulo" class="col-form-label col-sm-2">Título</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="juego.titulo" name="titulo">
                </div>
            </div>

            <div class="form-group row">
                <label for="fechaLanzamiento" class="col-form-label col-sm-2">Lanzamiento</label>
                <div class="input-group col-sm-6">
                    <input matInput [matDatepicker]="d" class="form-control" [(ngModel)]="juego.fechaLanzamiento" name="fechaLanzamiento">
                    <mat-datepicker #d></mat-datepicker>
                    <div class="input-group-append">
                        <button mat-raised-button style="width: 50px;" (click)="d.open()" class="btn btn-outline-secondary" type="button" id="buttonDate"><i class="fas fa-calendar"></i></button>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="categoria" class="col-form-label col-sm-2">Categoría</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="juego.categoria" name="categoria">
                        <option value="ACCION">Acción</option>
                        <option value="ARCADE">Arcade</option>
                        <option value="DEPORTIVO">Deportivo</option>
                        <option value="ESTRATEGIA">Estrategia</option>
                        <option value="SIMULACION">Simulación</option>
                        <option value="MUSICAL">Musical</option>
                        <option value="SHOOTER">Shooter</option>
                        <option value="AVENTURA">Aventura</option>
                        <option value="ROL">Rol</option>
                        <option value="CARRERAS">Carreras</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="pegi" class="col-form-label col-sm-2">PEGI</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="juego.pegi" name="pegi">
                        <option value=3>3</option>
                        <option value=3>7</option>
                        <option value=3>12</option>
                        <option value=3>16</option>
                        <option value=3>18</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="desarrolladoras" class="col-form-label col-sm-2">Desarrolladoras</label>
                <div class="col-sm-6">
                    <select [compareWith]="compararDesarrolladora" multiple class="form-control" [(ngModel)]="juego.desarrolladoras" name="desarrolladoras">
                        <option *ngFor="let desarrolladora of desarrolladoras" [ngValue]="desarrolladora">{{ desarrolladora.nombre }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!juego.id else elseBlock">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>