<ul *ngIf="pages?.length > 0" class="pagination">

    <li [ngClass]="tpaginador.number > 0?'page-item':'disabled page-item'">
        <a class="page-link" [routerLink]="['/tiendas/page', tpaginador.number - 1]">&laquo;</a>
    </li>

    <li [ngClass]="tpaginador.first?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/tiendas/page', 0]">
            Primera
        </a>
    </li>
    
    <li class="page-item" *ngFor="let page of pages" [ngClass]="page - 1 == tpaginador.number?'active':''">
        <span class="page-link" *ngIf="page - 1 == tpaginador.number">{{ page }}</span>
        <a class="page-link" *ngIf="page - 1 != tpaginador.number" [routerLink]="['/tiendas/page', page - 1]">{{ page }}</a>
    </li>

    <li [ngClass]="tpaginador.last?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/tiendas/page', tpaginador.totalPages - 1]">
            Última
        </a>
    </li>

    <li [ngClass]="tpaginador.number < tpaginador.totalPages - 1?'page-item':'disabled page-item'">
        <a class="page-link" [routerLink]="['/tiendas/page', tpaginador.number + 1]">&raquo;</a>
    </li>

</ul>