<ul *ngIf="pages?.length > 0" class="pagination">

    <li [ngClass]="paginador.number > 0?'page-item':'disabled page-item'">
        <a class="page-link" [routerLink]="['/clientes/page', paginador.number - 1]">&laquo;</a>
    </li>

    <li [ngClass]="paginador.first?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/clientes/page', 0]">
            Primera
        </a>
    </li>
    
    <li class="page-item" *ngFor="let page of pages" [ngClass]="page - 1 == paginador.number?'active':''">
        <span class="page-link" *ngIf="page - 1 == paginador.number">{{ page }}</span>
        <a class="page-link" *ngIf="page - 1 != paginador.number" [routerLink]="['/clientes/page', page - 1]">{{ page }}</a>
    </li>

    <li [ngClass]="paginador.last?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/clientes/page', paginador.totalPages - 1]">
            Última
        </a>
    </li>

    <li [ngClass]="paginador.number < paginador.totalPages - 1?'page-item':'disabled page-item'">
        <a class="page-link" [routerLink]="['/clientes/page', paginador.number + 1]">&raquo;</a>
    </li>

</ul>