<div class="card border-dark mb-3">
  <div class="card-header">
    <div class="d-flex flex-row-reverse bd-highlight">
      <div class="p-2 bd-highlight">
        <button class="btn btn-rounded btn-success float-right" type="button" [routerLink]="['/tiendas/form']">
          Crear Tienda
        </button>
      </div>
      <div class="p-2 bd-highlight">
        <button class="btn btn-rounded btn-secondary float-right" type="button" (click)="switchID()">
          {{showID ? 'Ocultar': 'Mostrar'}}
          ID
        </button>
      </div>
    </div>
  </div>
  <div class="card-body text-primary">
    <div *ngIf="tiendas?.length == 0" class="alert alert-info">
      No existen registros en la base de datos.
    </div>
    <table class="table table-bordered table-sm" *ngIf="tiendas?.length > 0">
      <thead class="thead-dark">
        <tr>
          <th *ngIf="showID">ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tienda of tiendas">
          <td *ngIf="showID">{{ tienda.id }}</td>
          <td>{{ tienda.nombre }}</td>
          <td>{{ tienda.direccion }}</td>
          <td>
            <button type="button" name="update" [routerLink]="['/tiendas/form/', tienda.id]" class="btn btn-primary btn-sm">
              <i class="far fa-edit" style="color: white;"></i>
            </button>
          </td>
          <td>
            <button type="button" name="delete" (click)="delete(tienda)" class="btn btn-danger btn-sm">
              <i class="fas fa-trash" style="color: white;"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-tiendas *ngIf="tpaginador" [tpaginador]="tpaginador"></paginator-tiendas>
  </div>
</div>