<ul *ngIf="pages?.length > 0" class="pagination">

    <li [ngClass]="dpaginador.number > 0?'page-item':'disabled page-item'">
        <a class="page-link" [routerLink]="['/desarrolladoras/page', dpaginador.number - 1]">&laquo;</a>
    </li>

    <li [ngClass]="dpaginador.first?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/desarrolladoras/page', 0]">
            Primera
        </a>
    </li>
    
    <li class="page-item" *ngFor="let page of pages" [ngClass]="page - 1 == dpaginador.number?'active':''">
        <span class="page-link" *ngIf="page - 1 == dpaginador.number">{{ page }}</span>
        <a class="page-link" *ngIf="page - 1 != dpaginador.number" [routerLink]="['/desarrolladoras/page', page - 1]">{{ page }}</a>
    </li>

    <li [ngClass]="dpaginador.last?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/desarrolladoras/page', dpaginador.totalPages - 1]">
            Última
        </a>
    </li>

    <li [ngClass]="dpaginador.number < dpaginador.totalPages - 1?'page-item':'disabled page-item'">
        <a class="page-link" [routerLink]="['/desarrolladoras/page', dpaginador.number + 1]">&raquo;</a>
    </li>

</ul>