<ul *ngIf="pages?.length > 0" class="pagination">

    <li [ngClass]="jpaginador.number > 0?'page-item':'disabled page-item'">
        <a class="page-link" [routerLink]="['/juegos/page', jpaginador.number - 1]">&laquo;</a>
    </li>

    <li [ngClass]="jpaginador.first?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/juegos/page', 0]">
            Primera
        </a>
    </li>
    
    <li class="page-item" *ngFor="let page of pages" [ngClass]="page - 1 == jpaginador.number?'active':''">
        <span class="page-link" *ngIf="page - 1 == jpaginador.number">{{ page }}</span>
        <a class="page-link" *ngIf="page - 1 != jpaginador.number" [routerLink]="['/juegos/page', page - 1]">{{ page }}</a>
    </li>

    <li [ngClass]="jpaginador.last?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/juegos/page', jpaginador.totalPages - 1]">
            Última
        </a>
    </li>

    <li [ngClass]="jpaginador.number < jpaginador.totalPages - 1?'page-item':'disabled page-item'">
        <a class="page-link" [routerLink]="['/juegos/page', jpaginador.number + 1]">&raquo;</a>
    </li>

</ul>