<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg" width="30" height="30" class="d-inline-block align-top" alt="" />
    {{ title }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--
      <li class="nav-item">
        <a class="nav-link" href="#">
          Inicio
          <span class="sr-only">
            (current)
          </span>
        </a>
      </li>
      -->
      <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/pedidos">
          Pedidos
          <span class="sr-only">
            (current)
          </span>
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/clientes">
          Clientes
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink ="/juegos">
          Juegos
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/desarrolladoras">
          Desarrolladoras
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/tiendas">
          Tiendas
        </a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">
      
      <li *ngIf="!authService.isAuthenticated()"> <a routerLink="/login" class="btn btn-outline-light">
        Iniciar sesión</a>
      </li>

      <li *ngIf="authService.user?.name" class="mr-1">
        <img *ngIf="authService.user?.img" src="http://localhost:8090/uploads/img/{{ authService.user.img}}"
        alt="{{ authService.user.name }}" class="rounded" style="width: 38px; height: 38px;">
        <img *ngIf="!authService.user?.img" src="http://localhost:8090/imgs/empty-user.png"
        alt="Sin imagen" class="rounded" style="width: 38px; height: 38px;">
      </li>

      <li *ngIf="authService.isAuthenticated()" class="dropdown">
        <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.user.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <button (click)="logout()" class="dropdown-item" type="submit">Cerrar sesión</button>
        </div>
      </li>

    </ul>

  </div>
</nav>
