<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let e of errores">
        {{ e }}
    </li>
</ul>
<div class="card bg-dark text-white">
    <div class="card-header">
        {{ titulo }}
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="documento" class="col-form-label col-sm-2">Documento</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.documento" name="documento">
                </div>
            </div>

            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="fechaNac" class="col-form-label col-sm-2">Fecha de nacimiento</label>
                <div class="input-group col-sm-6">
                    <input matInput [matDatepicker]="d" class="form-control" [(ngModel)]="cliente.fechaNac" name="fechaNac">
                    <mat-datepicker #d></mat-datepicker>
                    <div class="input-group-append">
                        <button mat-raised-button style="width: 50px;" (click)="d.open()" class="btn btn-outline-secondary" type="button" id="buttonDate"><i class="fas fa-calendar"></i></button>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="correo" class="col-form-label col-sm-2">e-Mail</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" [(ngModel)]="cliente.correo" name="correo">
                </div>
            </div>

            <div class="form-group row">
                <label for="user" class="col-form-label col-sm-2">Usuario</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.user" name="user">
                </div>
            </div>
            
            <div class="form-group row" id="show_hide_password">
                <label for="pass" class="col-form-label col-sm-2">Contraseña</label>
                <div class="input-group col-sm-6">
                    <input type="password" id="toggle" class="form-control" [(ngModel)]="cliente.pass" name="password">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" style="width: 50px;" type="button" id="buttonPass" (click)="togglePwd()">
                            <i class="fas fa-eye" *ngIf="!showEye else elseBl"></i>
                            <ng-template #elseBl>
                                <i class="fas fa-eye-slash"></i>
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="roles" class="col-form-label col-sm-2">Roles</label>
                <div class="col-sm-6">
                    <select [compareWith]="compararRol" multiple class="form-control" [(ngModel)]="cliente.roles" name="roles">
                        <option *ngFor="let rol of roles" [ngValue]="rol">{{ rol.nombre }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id else elseBlock">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>