<div class="card border-dark mb-3">
    <div class="card-header">
        <div class="d-flex flex-row-reverse bd-highlight">
          <div class="p-2 bd-highlight">
            <button class="btn btn-rounded btn-success float-right" disabled="disabled" type="button">
              Crear Pedido
            </button>
          </div>
          
          <div class="p-2 bd-highlight">
            <button class="btn btn-rounded btn-secondary float-right" type="button" (click)="switchID()">
              {{showID ? 'Ocultar': 'Mostrar'}}
              ID
            </button>
          </div>
          
        </div>
    </div>
    <div class="card-body text-primary">
      <div *ngIf="pedidos?.length == 0" class="alert alert-info">
        No existen registros en la base de datos.
      </div>
      <table class="table table-bordered table-sm" *ngIf="pedidos?.length > 0">
        <thead class="thead-dark">
          <tr class="text-center">
            <th *ngIf="showID">ID</th>
            <th>Referencia</th>
            <th>Estado</th>
            <th>Juego</th>
            <th>Cliente</th>
            <th>Tienda</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td *ngIf="showID">{{ pedido.id }}</td>
            <td>{{ pedido.codReferencia }}</td>
            <td>{{ pedido.estado }}</td>
            <td>{{ pedido.juego.titulo }}</td>
            <td>{{ pedido.cliente.nombre }}</td>
            <td>{{ pedido.tienda.nombre }}</td>
            <td>
              <button type="button" name="delete" (click)="delete(pedido)" class="btn btn-danger btn-sm">
                <i class="fas fa-trash" style="color: white;"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <paginator-pedidos *ngIf="pedidosPaginator" [pedidosPaginator]="pedidosPaginator"></paginator-pedidos>
    </div>
  </div>