<div class="open-modal animacion fadeIn" *ngIf="dmodalService.modal">
    <div class="modal" tabindex="-1" role="dialog" style="display:block">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">{{ titulo }}</h5>
            <button (click)="closeDetails()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <ul class="list-group text-dark mb-3" *ngIf="desarrolladora">
                                <li class="list-group-item active">{{ desarrolladora.cif }}</li>
                                <li class="list-group-item">{{ desarrolladora.nombre }}</li>
                            </ul>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                <input (change)="selectImg($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto...</label>
                                </div>
                                <div class="input-group-append">
                                <button (click)="subirFoto()" [disabled]="!imgSelected" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
                                </div>
                            </div>
        
                            <div *ngIf="progreso > 0" class="progress" style="height: 40px;">
                                <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width: progreso + '%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                                    {{progreso}}%
                                </div>
                            </div>
        
                        </div>
                        <div class="col-sm">
                            <img *ngIf="desarrolladora?.img" style="width: 300px; height: 300px;" src="http://localhost:8090/desarrolladoras/uploads/img/{{ desarrolladora.img }}" alt="{{ desarrolladora.img }}" class="img-thumbnail rounded">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button (click)="closeDetails()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        </div>
    </div>
</div>