<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let e of errores">
        {{ e }}
    </li>
</ul>
<div class="card bg-dark text-white">
    <div class="card-header">
        {{ titulo }}
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="cif" class="col-form-label col-sm-2">CIF</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="desarrolladora.cif" name="cif">
                </div>
            </div>

            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="desarrolladora.nombre" name="nombre">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!desarrolladora.id else elseBlock">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>