<div class="card bg-dark text-white text-center">
    
    <div class="card-header"> {{titulo}} </div>
    
    <div class="card-body">

        <form method="post">
            
            <div class="form-group col">
                <input [(ngModel)]="user.username" type="text" class="form-control" name="username" id="username" placeholder="Usuario" autofocus required>
            </div>

            <div class="form-group col">
                <input [(ngModel)]="user.password" type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
            </div>

            <div class="form-group col">
                <input (click)='login()' type="submit" class="btn btn-lg btn-primary btn-block" value="Iniciar sesión">
            </div>

        </form>

    </div>
</div>
