<div class="card border-dark mb-3">
  
  <div class="card-header">
    <div class="d-flex flex-row-reverse bd-highlight">
      <div class="p-2 bd-highlight">
        <button class="btn btn-rounded btn-success float-right" type="button" [routerLink]="['/juegos/form']">
          Crear Juego
        </button>
      </div>
      <div class="p-2 bd-highlight">
        <button class="btn btn-rounded btn-secondary float-right" type="button" (click)="switchID()">
          {{showID ? 'Ocultar': 'Mostrar'}}
          ID
        </button>
      </div>
    </div>
  </div>
  
  <div class="card-body text-primary">
    <div *ngIf="juegos?.length == 0" class="alert alert-info">
      No existen registros en la base de datos.
    </div>
    <table class="table table-bordered table-sm" *ngIf="juegos?.length > 0">
      <thead class="thead-dark">
        <tr>
          <th *ngIf="showID">ID</th>
          <th>Título</th>
          <th>Lanzamiento</th>
          <th>PEGI</th>
          <th>Categoría</th>
          <th>Desarrolladoras</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let juego of juegos">
          <td *ngIf="showID">{{ juego.id }}</td>
          <td>{{ juego.titulo }}</td>
          <td>{{ juego.fechaLanzamiento }}</td>
          <td>{{ juego.pegi }}</td>
          <td>{{ juego.categoria }}</td>
          <td>
            <table class="table table-sm table-borderless" style="margin-top: auto; margin-bottom: auto;">
              <tr>
                <td *ngFor="let desarrolladora of juego.desarrolladoras">
                  <img *ngIf="desarrolladora?.img" src="http://localhost:8090/desarrolladoras/uploads/img/{{ desarrolladora.img }}"
                  alt="{{ desarrolladora.nombre }}" class="img-thumbnail rounded" style="width: 64px; height: 64px;">
                  <img *ngIf="!desarrolladora?.img" src="http://localhost:8090/imgs/empty-file.png"
            alt="Sin imagen" class="img-thumbnail rounded" style="width: 64px; height: 64px;">
                </td>
              </tr>
            </table>
          </td>
          <td>
            <button type="button" name="update" [routerLink]="['/juegos/form/', juego.id]" class="btn btn-primary btn-sm">
              <i class="far fa-edit" style="color: white;"></i>
            </button>
          </td>
          <td>
            <button type="button" name="delete" (click)="delete(juego)" class="btn btn-danger btn-sm">
              <i class="fas fa-trash" style="color: white;"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-juegos *ngIf="jpaginador" [jpaginador]="jpaginador"></paginator-juegos>
  </div>
</div>