<details-desarrolladora [desarrolladora]="desarrolladoraSelected" *ngIf="desarrolladoraSelected"></details-desarrolladora>
<div class="card border-dark mb-3">
  <div class="card-header">
    <div class="d-flex flex-row-reverse bd-highlight">
      <div class="p-2 bd-highlight">
        <button class="btn btn-rounded btn-success float-right" type="button" [routerLink]="['/desarrolladoras/form']">
          Crear Desarrolladora
        </button>
      </div>
      <div class="p-2 bd-highlight">
        <button class="btn btn-rounded btn-secondary float-right" type="button" (click)="switchID()">
          {{showID ? 'Ocultar': 'Mostrar'}}
          Foto
        </button>
      </div>
    </div>
  </div>
  <div class="card-body text-primary">
    <div *ngIf="desarrolladoras?.length == 0" class="alert alert-info">
      No existen registros en la base de datos.
    </div>
    <table class="table table-bordered table-sm" *ngIf="desarrolladoras?.length > 0">
      <thead class="thead-dark">
        <tr>
          <th *ngIf="showID">Foto</th>
          <th>CIF</th>
          <th>Nombre</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let desarrolladora of desarrolladoras">
          <td *ngIf="showID">
            <img (click)="openDetails(desarrolladora)" *ngIf="desarrolladora?.img" src="http://localhost:8090/desarrolladoras/uploads/img/{{ desarrolladora.img }}"
            alt="{{ desarrolladora.img }}" class="img-thumbnail rounded" style="width: 64px; height: 64px; cursor: pointer;">
            <img (click)="openDetails(desarrolladora)" *ngIf="!desarrolladora?.img" src="http://localhost:8090/imgs/empty-file.png"
            alt="Sin imagen" class="img-thumbnail rounded" style="width: 64px; height: 64px; cursor: pointer;">
          </td>
          <td>{{ desarrolladora.cif }}</td>
          <td>{{ desarrolladora.nombre }}</td>
          <td>
            <button type="button" name="update" [routerLink]="['/desarrolladoras/form/', desarrolladora.id]" class="btn btn-primary btn-sm">
              <i class="far fa-edit" style="color: white;"></i>
            </button>
          </td>
          <td>
            <button type="button" name="delete" (click)="delete(desarrolladora)" class="btn btn-danger btn-sm">
              <i class="fas fa-trash" style="color: white;"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-desarrolladoras *ngIf="dpaginador" [dpaginador]="dpaginador"></paginator-desarrolladoras>
  </div>
</div>