<details-cliente [cliente]="clienteSelected" *ngIf="clienteSelected"></details-cliente>
<div class="card border-dark mb-3">
  <div class="card-header">
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
          <button class="btn btn-rounded btn-success float-right" type="button" [routerLink]="['/clientes/form']">
            Crear Cliente
          </button>
        </div>
        <!--
        <div class="p-2 bd-highlight">
          <button class="btn btn-rounded btn-secondary float-right" type="button" (click)="switchID()">
            {{showID ? 'Ocultar': 'Mostrar'}}
            ID
          </button>
        </div>
        -->
      </div>
  </div>
  <div class="card-body text-primary">
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No existen registros en la base de datos.
    </div>
    <table class="table table-bordered table-sm" *ngIf="clientes?.length > 0">
      <thead class="thead-dark">
        <tr class="text-center">
          <!--
          <th *ngIf="showID">ID</th>
          -->
          <th>Foto</th>
          <th>Documento</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Nacimiento</th>
          <th>Usuario</th>
          <th>Roles</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <!--
          <td *ngIf="showID"><button type="button" (click)="openDetails(cliente)" class="btn btn-success btn-sm">{{ cliente.id }}</button></td>
          -->
          <td>
            <img (click)="openDetails(cliente)" *ngIf="cliente?.img" src="http://localhost:8090/uploads/img/{{ cliente.img }}"
            alt="{{ cliente.img }}" class="img-thumbnail rounded" style="width: 64px; height: 64px; cursor: pointer;">
            <img (click)="openDetails(cliente)" *ngIf="!cliente?.img" src="http://localhost:8090/imgs/empty-user.png"
            alt="Sin imagen" class="img-thumbnail rounded" style="width: 64px; height: 64px; cursor: pointer;">
          </td>
          <td>{{ cliente.documento }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.correo }}</td>
          <td>{{ cliente.fechaNac }}</td>
          <td>{{ cliente.user }}</td>
          <td>
            <table class="table table-sm table-borderless" style="margin-top: auto; margin-bottom: auto;">
              <tr>
                <td *ngFor="let rol of cliente.roles">{{ rol.nombre }}</td>
              </tr>
            </table>
          </td>
          <td>
            <!--
            <img [routerLink]="['/clientes/form/', cliente.id]" src="http://localhost:8090/imgs/edit-icon.png"
            alt="editar" class="rounded" style="width: 50px; cursor: pointer;">
            -->
            <button type="button" name="update" [routerLink]="['/clientes/form/', cliente.id]" class="btn btn-primary btn-sm">
              <i class="far fa-edit" style="color: white;"></i>
            </button>
          </td>
          <td>
            <!--
            <img (click)="delete(cliente)" src="http://localhost:8090/imgs/delete-icon.png"
            alt="editar" class="rounded" style="width: 50px; cursor: pointer;">
            -->
            <button type="button" name="delete" (click)="delete(cliente)" class="btn btn-danger btn-sm">
              <i class="fas fa-trash" style="color: white;"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
  </div>
</div>