<ul *ngIf="pages?.length > 0" class="pagination">

    <li [ngClass]="pedidosPaginator.number > 0?'page-item':'disabled page-item'">
        <a class="page-link" [routerLink]="['/pedidos/page', pedidosPaginator.number - 1]">&laquo;</a>
    </li>

    <li [ngClass]="pedidosPaginator.first?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/pedidos/page', 0]">
            Primera
        </a>
    </li>
    
    <li class="page-item" *ngFor="let page of pages" [ngClass]="page - 1 == pedidosPaginator.number?'active':''">
        <span class="page-link" *ngIf="page - 1 == pedidosPaginator.number">{{ page }}</span>
        <a class="page-link" *ngIf="page - 1 != pedidosPaginator.number" [routerLink]="['/pedidos/page', page - 1]">{{ page }}</a>
    </li>

    <li [ngClass]="pedidosPaginator.last?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/pedidos/page', pedidosPaginator.totalPages - 1]">
            Última
        </a>
    </li>

    <li [ngClass]="pedidosPaginator.number < pedidosPaginator.totalPages - 1?'page-item':'disabled page-item'">
        <a class="page-link" [routerLink]="['/pedidos/page', pedidosPaginator.number + 1]">&raquo;</a>
    </li>

</ul>